.content {
  display: flex;
  flex-direction: column;
  .titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 54px;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
    scroll-behavior: smooth;
  }

  .card {
    position: relative;
    width: 19.5%;
    height: 446px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #fff;

    img {
      width: 100%;
      height: 301px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .card-content {
      padding: 1rem;
      text-align: left;

      .brand {
        font-size: 1.2em;
        margin-bottom: 0.5rem;
      }

      .description {
        font-size: 1em;
        margin-bottom: 1rem;
        color: #898989;
      }

      .price {
        font-size: 1.2em;
        color: #007bff;
        font-weight: bold;
        span {
          #sublinhar {
            color: #898989;
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .desconto-label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem; /* Equivalente a 24px */
    border-radius: 50%;
    color: white;

    &.desconto {
      background-color: red;
    }

    &.novo {
      background-color: green;
    }
  }

  .carregar-mais {
    width: 245px;
    height: 48px;
    border: 1px solid #B88E2F;
    color:  #B88E2F;
    background-color: #FFFFFF;
    margin: 1rem 50%;
  }
}
