<div class="content">
  <div class="titulo">
    <h1>Produtos relacionados</h1>
  </div>
  <div class="cards-container">
    <div class="card" *ngFor="let product of produtos[0].outrosRelacionados">
      <!-- Label de desconto ou novo -->
      <div class="desconto-label" *ngIf="product.desconto > 0 || product.produtoNovo"
           [ngClass]="{'discount': product.desconto > 0, 'new': product.produtoNovo}">
        <!-- Mostra o desconto se existir -->
        <span *ngIf="product.desconto > 0">-{{ product.desconto }}%</span>
        <!-- Mostra 'Novo' se o produto for novo -->
        <span *ngIf="product.produtoNovo">Novo</span>
      </div>

      <!-- Imagem do produto -->
      <img [src]="product.imagem" alt="Imagem do Produto">

      <!-- Conteúdo do card -->
      <div class="card-content">
        <h3 class="brand">{{ product.tipo }}</h3>
        <p class="description">{{ product.descricao }}</p>
        <p class="price">
          <span>{{ product.preco | currency:'BRL' }}</span>
          <span *ngIf="product.desconto > 0">
            <s id="sublinhar">{{ getOriginalPrice(product.preco, product.desconto) | currency:'BRL' }}</s>
          </span>
        </p>
      </div>
    </div>
  </div>
  <button class="carregar-mais">Carregar mais...</button>
</div>
