<div class="cabecalho">
  <div class="nome-empresa"><h1>{{empresa}}</h1></div>
  <div class="opcoes">
    <ul>
      <li>Home</li>
      <li>Shop</li>
      <li>Sobre</li>
      <li>Contato</li>
    </ul>
  </div>
  <div class="icones">
    <img [src]="usuario" alt="Usuario">
    <img [src]="pesquisar" alt="Pesquisar">
    <img [src]="coracao" alt="Coração">
    <img [src]="carrinho" alt="Carrinho de compras" (click)="toggleCart()">
  </div>
</div>

<!-- Pop-down do carrinho -->
<div class="cabecalho">
  <div class="cart-dropdown" *ngIf="isCartOpen">
    <h3>Minha Sacola <p (click)="toggleCart()">X</p></h3>
    <hr>
    <div *ngFor="let item of cartItems; let i = index" class="detalhes">
      <div class="imagem">
        <img [src]="item.imagem" alt="{{ item.nome }}" />
      </div>
      <div class="descricao">
        <p>{{ item.nome }}</p>
        <div class="preco">
          <p>{{ item.quantidade }}</p>
          <p>X</p>
          <p id="dourado">{{ item.preco | currency:'BRL' }}</p>
        </div>
      </div>
      <div class="apagar">
        <button (click)="apagarItem(i)">X</button> <!-- Botão para apagar -->
      </div>
    </div>
    <div class="resumo">
      <div class="subtotal">
        <p><strong>Subtotal</strong></p>
        <p id="dourado"><strong> R$ {{ subtotal }}</strong></p>
      </div>
      <hr>
      <div class="botoes">
        <button>Sacola</button>
        <button>Pagar</button>
        <button>Comprar</button>
      </div>
    </div>
  </div>
</div>
