main {
  margin: 0;
  padding: 0;
  overflow: hidden;
  .cabecalho {
    background-color: #FFFFFF;
    top: 0;
    width: 100%;
    height: 100px;
  }
  .navegacao {
    top: 101px;
    width: 100%;
    height: 100px;
    background-color: #F9F1E7;
    border: 2px 2px #9f9f9f;
  }
  .area-rabalho {
    width: 100%;
    background-color: #FFFFFF;
    overflow: auto I !important;
  }

}
