<div class="tabs">
  <button (click)="selectTab('descricao')" [class.active]="selectedTab === 'descricao'">Descrição</button>
  <button (click)="selectTab('informacoes')" [class.active]="selectedTab === 'informacoes'">Informações adicionais</button>
  <button (click)="selectTab('reviews')" [class.active]="selectedTab === 'reviews'">Reviews[{{reviewsCount}}]</button>
</div>

<div class="content">
  <ng-container *ngIf="selectedTab === 'descricao'">
    <p>{{produtos[0].descricao}}</p>
    <div class="img-descricao">
      <img *ngFor="let img of produtos[0].imagemDescricao" [src]="img" alt="imagem">
    </div>
  </ng-container>

  <ng-container *ngIf="selectedTab === 'informacoes'">
    <p>Essas são as informações adicionais do produto...</p>
  </ng-container>

  <ng-container *ngIf="selectedTab === 'reviews'">
    <p>Aqui estão as avaliações do produto...</p>
  </ng-container>
</div>
